<br/>
<br/>

<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisa por nome">
  </div>

  <button type="button" (click)="consultarUser()"  class="btn btn-primary mb-2">Buscar</button>


  <button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active" style="margin-left: 5px;"    class="btn btn-success mb-2">Novo</button>

  <button (click)="imprimeRelatorio()" type="button" data-toggle="modal" data-target="#myModal" style="margin-left: 5px;" class="btn btn-primary mb-2">PDF</button>
  
</form>

<br/>
<br/>

<table class="table">
  <thead class="thread-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Cpf</th>
      <th scope="col">Delete</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students | paginate: { itemsPerPage:5, currentPage: p, totalItems : total }; let i = index">  
      <td>{{student.id}}</td>
      <td>{{student.nome}}</td>
      <td>{{student.cpf}}</td>
      <td><button (click)="deleteUsuario(student.id, i)" class="btn btn-primary">Delete</button></td>
       <td><button [routerLink]="['/usuarioAdd', student.id]" routerLinkActive="router-link-active"   class="btn btn-warning">Editar</button></td>

    </tr>
  </tbody>
</table>

<div class="text-center">
<pagination-controls (pageChange)="carregarPagina(p = $event);"
 previousLabel = "Voltar" nextLabel = "Avançar" responsive="true"></pagination-controls>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="min-width: 90%; min-height: 90%; height: 90%;">
    <div class="modal-content">  
      <div class="modal-body">
        <iframe id="pdf" width="100%" height="500" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>        
      </div>
    </div>
  </div>
</div>
