
<div id="page-content-wrapper" >
<nav class="navbar navbar-expand-lg navbar-light bg-light" [hidden]="esconderBarrar()">
		 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="sair()">Sair</a> 
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" [routerLink]="['/userList']" routerLinkActive="router-link-active" >Usuario</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
</div>
